<style>
  strong{
    font-size:2.5em;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    color: #F24C27;
  }
  h2{
    font-size:1.5em;
    margin-bottom:0.5em;
  }

</style>
<div class="top-space row">
  <div class="col-md-6 col-md-offset-3 well">
    <div class="row">
      <div class="col-md-6">
        <p>
          <strong>Nombres:</strong>
          <h2><%= @user.name.capitalize %></h2>
        </p>
        <p>
          <%if @user.cover.exists?%>
            <h2><%=image_tag @user.cover.url(:medium), class:"thumbnail" %></h2>
          <%else%>
            <h2><img src="https://avatars3.githubusercontent.com/u/11998802?v=3&s=460" class="thumbnail" with="300" height="300"></h2>
          <%end%>
        </p>
       
      </div>
      <div class="col-md-6">
        <p>
          <strong>Ext:</strong>
          <h2><%= @user.ext %></h2>
        </p>
        <p>
          <strong>Movil:</strong>
          <h2><%= @user.phone %></h2>
        </p>
        <p>
          <strong>Departamento:</strong>
          <h2><%= @user.departament.name.capitalize %></h2>
        </p>
         <p>
          <strong>Cargo:</strong>
          <h2><%= @user.office %></h2>
        </p>
      </div>
    </div>
    <hr>
    <%= link_to 'Editar', edit_user_path(@user), class:"btn btn-default" %> |
    <%= link_to 'Volver', users_path, class:"btn btn-primary" %>
    
  </div>
</div>
